<link rel="import" href="../polymer/polymer.html">

<script src="plotly/plotly-latest.min.js"></script>

<!--

`calm-plotly`
A calm wrapper for the plotly.js library

Example:

<calm-plotly id="plot"></calm-plotly>

Usage:
- To pass data to calm-plotly, use the data property.
  Ex.: this.$.plot.data = data;
- data is an Object with 2 properties:
  - data [Array]: Array of all traces in the plot.
  - layout [Object]: contains data about the layout of the chart
    (axis, names, titles...)

@demo demo/index.html

-->

<dom-module id="calm-plotly">
  <template>
    <style>
      :host {
        display: block;
      }
      canvas {
        z-index: 1;
        position: absolute;
        background-color: rgb(255, 0, 0);
      }
    </style>
    <div id$="[[name]]" style="height: 100%"></div>
    <a id="imgLink" href="{{imageURL}}" style="display: none" download></a>
    <canvas id="mainCanvas" height="1000" width="1500" style="display: none"></canvas>
    <canvas id="canvas1" height="1000" width="2000" style="display: none"></canvas>
    <canvas id="canvas2" height="1000" width="2000" style="display: none"></canvas>
    <canvas id="canvas3" height="1000" width="2000" style="display: none"></canvas>
  </template>
  <script>
    Polymer({

      is: 'calm-plotly',

      properties: {

        /**
         * Chart Data. Contains properties "data" and "layout"
         */
        data: {
          type: Object,
          notify: true,
          observer: '_onDataChange'
        },

        /**
         * If true, displays plotly modeBar in upper right-hand corner
         */
        displayModeBar: {
          type: Boolean,
          notify: true,
          value: false
        },

        /**
         * If true, animates all changing data in a smooth fashion
         * Only works with scatter plots
         */
        animate: {
          type: Boolean,
          notify: true,
          value: false
        },

        /**
         * If true, mouse scroll wheel acts as tool to zoom
         * in and out
         */
        scrollZoom: {
          type: Boolean,
          notify: true,
          value: false
        },

        /**
         * Plotly chart name. Is generated randomly on load
         */
        name: {
          type: String,
          notify: true
        },

        /**
         * Is true if plot is being updated with the update property
         */
        _fromUpdate: {
          type: Boolean,
          notify: true,
          value: false
        },

        /**
         * Used for updating chart data together with Plotly.relayout()
         */
        update: {
          type: Object,
          notify: true,
          observer: '_updatePlot'
        }

      },

      /**
       * redraws plot when plot data is changed
       */
      _onDataChange: function() {
        if (!this._fromUpdate) {
          this.async(function() {
            var chart = Polymer.dom(this.root).querySelector('#' + this.name);

            if (!this.data) {return;}
            if (chart.data == undefined || !this.animate) {
              this._newPlot(chart, this.data);
            } else if (this.animate){
              this._animate(chart, this.data);
            }
          },0);
        } else {
          this._fromUpdate = false;
        }
      },


      /**
       * Redraws plot
       * @param  {DIV} chart    HTML chart element
       * @param  {Object} data  Plot data
       */
      _newPlot: function(chart, data) {
        this._setDefaultValues(data);
        Plotly.newPlot(chart, data.data, data.layout, {displayModeBar: this.displayModeBar, scrollZoom: this.scrollZoom});

        // Hover events
        var _this = this;
        chart.on('plotly_unhover', function(data) {
          _this.fire('unhover', data);
        });
        chart.on('plotly_hover', function(data) {
          // Does not fire hover event if plot is being updated
          if (!_this._fromUpdate) {
            _this.fire('hover', data);
          }
          else {
            _this._fromUpdate = false;
          }
        });

        chart.on('plotly_click', function(data) {
          _this.fire('click', data);
        });
        chart.on('plotly_relayout', function(data) {
          _this.fire('relayout', data);
        });
      },


      /**
       * Sets certain default values if certain elements
       * have not been defined
       * @param  {Object} data Plot data with a data and layout property
       */
      _setDefaultValues: function(data) {
        for (var i = 0; i < data.data.length; i++) {
          if (!data.data[i].hoverlabel) {
            data.data[i].hoverlabel = {
              bgcolor: 'rgb(240, 240, 240)',
              bordercolor: 'rgb(200, 200, 200)',
              font: {
                color: 'black'
              }
            }
          }
        }
      },


      /**
       * Updates plot data if the update property is changed
       */
      _updatePlot: function() {
        this._fromUpdate = true;
        this.relayout(this.update);
      },


      /**
       * Generates random chart name on load
       */
      ready: function() {
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
        for(var i = 0; i < 10; i++) {
          text += possible.charAt(Math.floor(Math.random() * possible.length));
        }
        this.name = text;
      },


      /**
       * computes max or min of all traces in
       * @param  {Array} traces  Plot traces
       * @param  {String} axis    axis to compute max or min ("x" or "y")
       * @param  {String} extreme Choice of max or min ("max" or "min")
       * @return {Number}         Max or min of all traces on chosen axis
       */
      computeAxisExtreme: function(traces, axis, extreme) {
        // Return axis values
        return traces.map(function(trace) {
          return trace[axis];
        }).map(function(trace) {
          // Filter out all elements that are not numbers
          return trace.filter(function(tr) {
            return typeof tr == 'number';
          }).reduce(function(a, b) {
            // Return max or min of axis values of certain trace
            // depending on chosen extreme
            if (extreme == 'max') {
              return Math.max(a, b);
            } else if (extreme == 'min') {
              return Math.min(a, b);
            }
          });
        }).reduce(function(a, b) {
          // Returns max or min of axis values of ALL traces
          if (extreme == 'max') {
            return Math.max(a, b);
          } else if (extreme == 'min') {
            return Math.min(a, b);
          }
        });
      },


      /**
       * Creates slightly larger range then max and min trace values
       * @param  {Array} traces Chart traces
       * @param  {String} axis   Axis to beautify (x or y)
       * @return {Array}        Slightly bigger range then max and min of trace values
       */
      beautifyRange: function(traces, axis) {
        var axisMax = this.computeAxisExtreme(traces, axis, 'max');
        var axisMin = this.computeAxisExtreme(traces, axis, 'min');
        var padding = (axisMax - axisMin) * 0.1;
        return [axisMin - padding, axisMax + padding];
      },


      /**
       * Create data URI out of plot
       * @param  {String} legendText    Text to insert under chart as a legend
       * @param  {String} FileName    	Name the downloaded image should recieve
       */
      exportAsPng: function(legendText, fileName) {
        var d3 = Plotly.d3;
        var img_jpg= d3.select('#imgLink');
        var chart = Polymer.dom(this.root).querySelector('#' + this.name);
        var _this = this;
        // this.data.layout.tickfont = {};
        // this.data.layout.tickfont.size = 14;
        Plotly.newPlot(chart, this.data.data, this.data.layout).
        then(function(gd) {
          // height: 650, width: 1476
          // height: 542, width: 1230
          Plotly.toImage(gd, {height: 585, width: 1328.4})
          .then(function(url) {
            _this._savePlot(url, _this, legendText, fileName);
          });
        });
      },


      /**
       * Export mainCanvas as a PNG
       * @param  {String} url           Data URI of plotly image
       * @param  {String} legendText    Text to insert under chart as a legend
       * @param  {String} FileName    	Name the downloaded image should recieve
       */
      _savePlot: function(url, _this, legendText, fileName) {
        // Draw plotly chart
        var chartImage = new Image();
        chartImage.src = url;
        var context1 = _this.$.canvas1.getContext('2d');
        chartImage.onload = function() {
          context1.drawImage(chartImage, 0, 24, 1452, 650);

          // Draw Copyright marker
          var context2 = _this.$.canvas2.getContext('2d');
          context2.font = '13px Roboto';
          var today = new Date();
          var month = today.getMonth() + 1;
          var copyrightMarker = "Quelle: c-alm AG, portofina, " + today.getDate() + "." + month + "." + today.getFullYear();
          context2.fillText(copyrightMarker, 1220, 660);

          /**
           * Wraps text in canvas if line exceeds a defined maxWidth
           * @param  {Object} context    Context of canvas
           * @param  {String} text       Text to break into several lines
           * @param  {Number} x          Starting x-position
           * @param  {Number} y          Starting y-position
           * @param  {Number} maxWidth   Width at which to create new line
           * @param  {Number} lineHeight Hight of individual lines
           */
          function wrapText(context, text, x, y, maxWidth, lineHeight) {
            text = text.replace(/(<sub>)|(<\/sub>)/g, "°");
            var words = text.split(" ");
            var line = '';

            console.log(words);

            for(var n = 0; n < words.length; n++) {
              var testLine = line + words[n] + ' ';
              var metrics = context.measureText(testLine);
              var testWidth = metrics.width;
              if (testWidth > maxWidth && n > 0) {

                drawText(line, context, x, y);

                // context.fillText(line, x, y);
                line = words[n] + ' ';
                y += lineHeight;
                currentY.value += lineHeight;
              } else {
                line = testLine;
              }
              console.log(line);
            }
            // context.fillText(line, x, y);
            drawText(line, context, x, y)
          }

          function drawText(line, context, x, y){
            var tx = 0;
            for(var i = 0, isSub = false; i < line.length; i++) { // iterate over chars
              if (line[i] === "°") {                                              // special code?
                context.fillText(line.substring(tx, i), x, y + (isSub ? 7 : 0));     // draw current text seg
                x += context.measureText(line.substring(tx, i)).width;                // add width to x
                tx = ++i;                                                        // update start pointer
                isSub = !isSub;                                                  // toggle subscript mode
                setFontSize(isSub ? 15 * 0.7 : 15, context);                              // set font size
              }
            }
            context.fillText(line.substring(tx, line.length), x, y);
            x += context.measureText(line.substring(tx, line.length)).width;
          }

          function setFontSize(fontSize, context) {
            context.font = fontSize + "px Roboto";
          }

          // Insert legend below saved plot
          var currentY = {value: 715};
          var context3 = _this.$.canvas3.getContext('2d');
          context3.font = 'bold 17px Roboto';
          context3.fillText("Quelle:", 0, currentY.value);
          context3.font = '15px Roboto';
          wrapText(context3, legendText.source, 0, currentY.value + 25, 1420, 20);
          currentY.value += 55;

          if (legendText.descriptionX && legendText.descriptionX != ''){
            context3.font = 'bold 17px Roboto';
            context3.fillText("X-Achse:", 0, currentY.value);
            context3.font = '15px Roboto';
            var xLines = legendText.descriptionX.split("<br>");

            for (var i = 0; i < xLines.length; i++){
              wrapText(context3, xLines[i].replace("<br>", ""), 80, currentY.value, 1400, 20);
              currentY.value += 30;
            }
          }

          if (legendText.descriptionY && legendText.descriptionY != ''){
            context3.font = 'bold 17px Roboto';
            context3.fillText("Y-Achse:", 0, currentY.value);
            context3.font = '15px Roboto';
            var yLines = legendText.descriptionY.split("<br>");

            for (var i = 0; i < yLines.length; i++){
              wrapText(context3, yLines[i].replace("<br>", ""), 80, currentY.value, 1400, 20);
              currentY.value += 30;
            }
          }

          context3.font = 'bold 17px Roboto';
          context3.fillText("Disclaimer:", 0, currentY.value);
          context3.font = '15px Roboto';
          wrapText(context3, legendText.disclaimer, 0, currentY.value + 25, 1420, 20);


          // Draw all three canvases into mainCanvas
          var mainCanvas = _this.$.mainCanvas;
          var contextMain = mainCanvas.getContext('2d');
          contextMain.drawImage(_this.$.canvas1, 24, 0);
          contextMain.drawImage(_this.$.canvas2, 0, 0);
          contextMain.drawImage(_this.$.canvas3, 24, 0);

          //Fill white background
          contextMain.globalCompositeOperation = 'destination-over'
          contextMain.fillStyle = "white";
          contextMain.fillRect(0, 0, mainCanvas.width, mainCanvas.height);

          _this.$.imgLink.href = _this.$.mainCanvas.toDataURL();
          _this.$.imgLink.download = fileName;
          _this.$.imgLink.click();

          //Clear all canvases
          contextMain.clearRect(0, 0, mainCanvas.width, mainCanvas.height);
          contextMain.globalCompositeOperation = 'source-over'
          context1.clearRect(0, 0, _this.$.canvas1.width, _this.$.canvas1.height);
          context2.clearRect(0, 0, _this.$.canvas2.width, _this.$.canvas2.height);
          context3.clearRect(0, 0, _this.$.canvas3.width, _this.$.canvas3.height);
        }
      },


      /**
       * Breaks string into mutiple lines by inserting <br> tags
       * @param  {String} text      Text to break
       * @param  {Number} maxLength Length of individual lines
       * @return {String}           Newly Formatted string
       */
      breakString: function(text, maxLength) {
        if (text) {
          var newName = '';

          if (text.length > maxLength) {
            var changeOccured = true;
            var counter = 0;
            var splitName = text.split(' ');
            while (changeOccured) {
              var lastIndexOfbr = -1;
              for (var k = 0; k < splitName.length; k++) {
                if (splitName[k] == '<br>') {
                  lastIndexOfbr = k;
                }
              }
              var clonesSplit = splitName.slice(0);
              if (lastIndexOfbr != -1) {
                clonesSplit.splice(0, lastIndexOfbr + 1);
              }
              var breakInserted = false;
              var concatenatedElement = '';
              var index = 0;
              while(!breakInserted) {
                if (clonesSplit[index]) {
                  concatenatedElement += clonesSplit[index] + " ";
                  if (concatenatedElement.length > maxLength) {
                    if (index == 0) {
                      splitName.splice(lastIndexOfbr + 1 + index + 1, 0, '<br>');
                    } else {
                      splitName.splice(lastIndexOfbr + 1 + index, 0, '<br>');
                    }
                    breakInserted = true;
                    changeOccured = true;
                  } else {
                    changeOccured = false;
                  }
                  index++;
                } else {
                  breakInserted = true;
                  changeOccured = false;
                }
              }
            }
            for (var k = 0; k < splitName.length; k++) {
              if (splitName[k] == '<br>') {
                newName += splitName[k];
              } else if (splitName[k] != '<br>' && splitName[k+1] != '<br>' && splitName[k+1]){
                newName += splitName[k] + " ";
              } else {
                newName += splitName[k];
              }
            }
            return newName;
          } else {
            return text;
          }
        } else {
          return "";
        }
      },


      /**
       * Animate changing chart data
       * @param  {DIV} chart HTML chart element
       * @param  {Array} data  Traces of chart
       */
      _animate: function(chart, data) {
        Plotly.animate(chart, data, {
          transition: {
            duration: 200,
            easing: 'cubic-in-out'
          }
        });
      },


      /**
       * Adds frames to plot
       * @param  {Array} frames all frames that should be added to plot
       * @param  {Number} index index at which the frames should be inserted
       */
      addFrames: function(frames, index) {
        var chart = Polymer.dom(this.root).querySelector('#' + this.name);
        Plotly.addFrames(chart, frames, [index]);
      },


      /**
       * Plots plot. Use for when data observer is too slow
       * @param  {Object} data plot data including data and layout
       */
      plot: function(data) {
        var chart = Polymer.dom(this.root).querySelector('#' + this.name);
        Plotly.plot(chart, data.data, data.layout, {displayModeBar: this.displayModeBar, scrollZoom: this.scrollZoom})
      },


      /**
      * Animates chart frame by frame
      * @param  {Number} index index of group of frames that will be animated
      */
      animateFrames: function(index) {
        var _this = this;
        var chart = Polymer.dom(this.root).querySelector('#' + this.name);
        var frame = 'frame' + index;
        Plotly.animate(chart, frame, {
          fromcurrent: true,
          transition: {
            duration: 0,
          },
          frame: {
            duration: 40,
            redraw: false
          }
        }
      )
      .then(function() {
        _this.fire('animation-finished');
      });
    },


    /**
     * Calls the relayout function on the chart
     * @param  {Object} update the layout that will update the chart
     */
    relayout: function(update) {
      var chart = Polymer.dom(this.root).querySelector('#' + this.name);
      Plotly.relayout(chart, update);
    },

    /**
     * Removes all possible data from chart
     */
    purge: function() {
      var chart = Polymer.dom(this.root).querySelector('#' + this.name);
      Plotly.purge(chart);
    }

  });
  </script>
</dom-module>
